---
import Layout from "../../layouts/Layout.astro";
import PostLi from "../../components/timeline/PostLi.astro";
import type { Post } from "../../types/post";
import { orderingOfPosts } from "../../utils/orderingOfPosts";

export function getStaticPaths() {
  return [
    { params: { tag: "Astro" } },
    { params: { tag: "daisyUI" } },
    { params: { tag: "plan" } },
    { params: { tag: "develop" } },
    { params: { tag: "study" } },
  ];
}

const { tag } = Astro.params;

const posts = await Astro.glob<Post>(`/src/pages/*/*.md`);
---

<Layout title={tag}>
  <main class="container mx-auto">
    <p
      class="mb-6 text-lg font-normal text-center text-gray lg:text-xl sm:px-16 xl:text-xl"
    >
      Tag: {tag}
    </p>
    <div class="container">
      <ol class="relative border-s border-primary">
        {
          posts
            .filter((p) => p.frontmatter.tags.includes(tag))
            .sort((pa, pb) => orderingOfPosts(pa.frontmatter, pb.frontmatter))
            .map((post) => <PostLi {...post.frontmatter} />)
        }
      </ol>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
