---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
const { title } = frontmatter;
---

<Layout title={title}>
  <div class="container bg-base-100 p-8 rounded-xl mx-auto">
    <div class="markdown-body">
      <slot />
    </div>
  </div>
</Layout>
<style is:global>
  .markdown-body {
    @apply text-white;
  }
  .markdown-body > ul {
    @apply list-disc list-inside pl-4 mb-4;
  }
  .markdown-body > h1,
  .markdown-body > h2,
  .markdown-body > h3 {
    @apply font-bold leading-none tracking-tight;
  }
  .markdown-body > h1 {
    @apply mb-6 text-center text-3xl md:text-4xl lg:text-5xl;
  }
  .markdown-body > h2 {
    @apply my-6 border-s-4 border-primary ps-4;
  }
  .markdown-body > h2 {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }
  .markdown-body > h3 {
    @apply my-4 text-xl md:text-2xl lg:text-3xl;
  }
  .markdown-body > p {
    @apply my-4;
  }
  .markdown-body > pre {
    @apply p-4 mb-6 rounded-xl mockup-code;
  }
  .markdown-body a {
    @apply link link-secondary;
  }
</style>
